article.ingredientFound {
    display: flex;
    margin: 8px;
    padding: 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(122, 122, 122);
    transition: all .2s ease-in-out;
}

article.ingredientFound:hover {
    transform: scale(1.08);
    background-color: rgb(240, 240, 240);
}

img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    box-shadow: 0 0 8px rgb(185, 185, 185);
}

section.info {
    margin: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.name {
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
}

.id {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
}