.ingredientsList {
  padding-left: 12px;
  padding-right: 10px;
  width: auto;
  height: calc(100vh - 230px);
  overflow-y: auto;
  scrollbar-color: #b8b8b8 #e0e0e0;
  scrollbar-width: thin;
  overflow: hidden;
}

.ingredientsList::-webkit-scrollbar{ width: 5px;}

.ingredientsList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ingredientsList:hover{ overflow-y: auto;}