section.recipeIngredient{
    background-color: #fff;
    border-width: 0;
    width: 500px;
    height: 50px;
    font-size: 28px;
    color: lightslategray;
    padding-left: 30px;
    border: 1px solid lightgrey;
    border-top-width: 0;

}

section.recipeIngredient:hover{
    background-color: #f0f0f0;
}