#deleteIcon {
    margin: 0px;
    padding-left: 3px;
    color: red;
  }

  .todo-content{
    display: flex;
    flex-direction: column;
  }

  /* #input {
    padding-left: 10px;
    display: flex;
    align-items: center;
    grid: 1px;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 0px;
    padding-left: 20px;
  } */
  